body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.product-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-price {
    font-size: 1.25rem;
    color: #007bff;
    margin-bottom: 1rem;
}

.quantity-selector button {
    width: 40px;
    height: 40px;
}

footer {
    background-color: #222;
    margin-top: 300px;
}

footer p, footer a {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

footer .social-icons i {
    font-size: 2px;
}

.footer.text-start {
    color: #eaeaea;
    margin-left: 30px;
}

