
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

.navbar-brand {
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    font-style: bold;
    padding-left: 100px;
    font-size: 30px;
  }
  

.moul-regular {
    font-family: "Moul", serif;
    font-weight: 400;
    font-style: normal;
  }


.login-button.moul-regular {
  background-color: #94CDEC;
  color: aliceblue;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button.moul-regular:hover {
  background-color: aqua;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  
}

.nav-link:hover, .nav-link.active {
  color: #001;
  
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.float-image {
    width: 250px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.image-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
}

.text-section {
  flex: 1;
  text-align: center;
  padding: 0 20px;
}

.text-section p {
  font-size: 24px;
  font-weight: bold;
  color: #3C718D;
  font-family: 'Moul', serif;
}
